@tailwind base;
@tailwind components;
@tailwind utilities;

/* my custom theme */
body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background-color: #0F172A;
  color: #a0c5eb;
}
button {
  background-color: #79b0eb;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}